<header>
    
         
                <div class="col-sm-12 test"><a href="../../index.html" class="btn">Leave product selector</a>
                <div class="business-type-icon" *ngIf="qs.headerIcon" [innerHtml]="qs.headerIcon | safe: 'html'"></div>
                </div>
            
        
        </header>
        
         <div class="bodycontent col-sm-12" [@routerTransition]="getState(o)">
                        <!-- <div class="bodycontent col-sm-12" [@routerAnimation]="getRouteAnimation(o)"> -->

        <router-outlet #o="outlet"></router-outlet>
</div>






