<div class="questions-body col-sm-12">
       
        <div *ngIf="loaded" class="questions-wrapper">
            <div class="questions-counter">Question {{ currentQuestionNumber + 1 }} of {{ questionsService.questions.length }}</div>
         <p>{{ questionsService.questions[currentQuestionNumber].question }}</p>
            <div class="row buttons-wrapper">
             <div class="col-sm-2"></div>
               <!-- <select2 [data]="questionsService.questions[0].answers" [width]="240" [cssImport]=true (valueChanged)="onChange($event)" [options]="options" [value]="question4"><option></option></select2> -->
            <div class="col-sm-4"  *ngFor=" let button of questionsService.questions[0].answers">
               <button type="button" class="btn btn-primary" [ngClass]="{'selected':questionsService.questions[currentQuestionNumber] == button.id}" [value]="button.id" (click)="onClick($event)" >{{ button.text }}</button>
             </div>
             <div class="col-sm-2"></div>
             </div>
     
         <div class="col-sm-12 continue-button-wrapper">
           <button type="button" class="btn btn-primary" (click)="goToNext($event)" [attr.data-question-id]="currentQuestionNumber" [disabled]="(!questionsService.questions[currentQuestionNumber])"><p>Next <i class="far fa-chevron-circle-right"></i></p></button>
         </div>
     </div>
         </div>