<!--The content below is only a placeholder and can be replaced.-->

<div class="questions-body col-sm-12">
       
      <h1>Welcome</h1>
      <p>Answer a few questions to identify the best solution for your customer's business.</p>
      <div *ngIf="qs">
      <div *ngFor="let prequestion of prequestions; let i = index;">
          <!-- Key: {{prequestions[key][key]}} -->
          <label>{{prequestion.question}}:</label>
          <select (change)="onChange($event)" id="select--{{i}}">
            <option value="">Select One</option>
            <option *ngFor="let answer of prequestion.answers" [value]="answer.value">{{answer.name}}</option>
         </select>
         </div>
           <!-- <hr/>
           <div *ngFor="let question of questions; let g=index;">
             
              <label>{{question.question}}:</label>
              <select (change)="onChange($event)" id="select--{{g+4}}">
                <option value="">Select One</option>
                <option *ngFor="let answer of question.answers" [value]="answer.value">{{answer.name}}</option>
             </select>
      
      </div> -->
      </div>
      <br/>
      <hr/>
      <div *ngIf="products">
          <div *ngFor="let product of products | filterProducts: filterTags">
            {{ product.product }}
            </div>
      </div>

      </div>