$btn-green: #4a851f;
$casual-green: #257150;
$mobile-green: $btn-green;

$white: #fff;
$black: #000;

$blue: #0c2074;
$link-blue: #1d7bbf;
$link-blue2: #2c7bbc;
$nav-hilite-blue: #67b2e8; 
$fine-blue: #006a80;

$text-gray: #414042;
$link-gray: #58585a;
$underline-gray: #939598;
$nav-bg-gray: #f1f2f2;
$nav-hr-gray: #d7d7d7;

$active-purple: #0a1c76;

$qsr-red: #c53933;


