.restaurant{
    .wrapper {
        overflow: hidden;
        position: relative;
        width: 100%;
        min-height:768px;
        //display:flex;
        background: url("../images/restaurantBG.jpg");
    background-repeat:no-repeat;
    background-position: center center;
    background-size:cover;
    }
    .top-section{
        width:50%;
        display: table;
        &.Text-xl{
            padding-top: 11rem;
        }
    
        @media screen and (max-width: 768px){
            &.Text-xl{
                padding-top: 6rem;
                padding-left:1rem;
            }
        }
    }

    .bottom-section{
        width: calc(100% - 265px);
        display:table;
        position:absolute;
        bottom: 0;
        padding-bottom:2%;

        .bottom-right-stats{
            display:table;
            float: right;
            clear:both;
            h3{
                font-size: 2rem;
                margin-bottom:0;
                color:white;
                font-family: nimbus-sans, san-serif;
                font-weight: 600;
            }
            p{
                font-size: 1rem;
                line-height:1.3rem;
                color:white;
                font-family: nimbus-sans, san-serif;
                font-weight: 400;
                float:right;
                margin-right:15%;
                max-width:290px;
            }

            @media screen and (max-width: 768px){
                p{
                    max-width:270px;
                }
            }
            @media screen and (max-width: 768px){
                p{
                    max-width:215px;
                    margin-right:7%;
                    width:100%;
                }
            }
        }
    }
    @media screen and (max-width: 768px){
        .wrapper {
            //padding-left: 265px;
        }
    }

    @media screen and (max-width: 768px){

        .bottom-section{
           width:100%;  
        }

    }

}

.products {
        .wrapper{
            padding-top: 2.2rem;
        }
       .main-image{
           padding-top: 17.25rem;
        .Text-xl{
            padding-bottom:.75rem;

        }
    }
}

.solutions{
    hr{
        display:none;
    }
    .solution-row{

        padding-bottom:1.45rem;
        width:100%;
    }
}
.products, .solutions{
    background-color: $white;

   

    .topnav-spacer{
        padding: 40px;
        width:100%;
    }

    .lower-content{
        width: 100%;
        float: left;
        //margin-top: 3rem;
       // max-width: calc(100% - 250px);
        font-family: nimbus-sans, san-serif;
        margin-bottom: 2rem;
        padding-left: 30px;
        
        .lower-title{
            color: $blue;
            font-size: 1.55rem;
            line-height: 1.75rem;
            font-weight: 400;
            margin-bottom: 2rem;
        }
        .body-copy{
            color: $text-gray;
            font-size: 1rem;
            line-height: 1.2rem;

        }
        .callout-title{
            color: $blue;
            font-size: 1.1rem;
            padding-top:4px;
            font-weight: 400;
            margin-bottom: 0px;
        }
        .callout-text{
            color: $link-gray;
            line-height: 1.4rem;
            margin-top: 15px;
        }
        .buttons-wrapper{
            margin-bottom: 20px;
            margin-top:10px;
            .btn-primary{
                background: $blue;
                padding: 6px 30px;
                min-width: 180px;
                margin: 8px 0 0 3px;
                color: $white;
            }
        }
        a{
            color: $link-blue;
        }
        ul, div{
            list-style:none;
            &.lower-ul{
                padding-left:15px;

                li{
                    color: $link-gray;
                    padding: .8rem 0;
                    border-bottom: thin solid $underline-gray;
                    &:before {
                        display: inline-block;
                        content: '';
                        -webkit-border-radius: 0.2rem;
                        border-radius: 0.2rem;
                        height: 0.4rem;
                        width: 0.4rem;
                        margin-right: 0.5rem;
                        background-color: $link-gray;
                        margin-bottom: .1rem;
                      } 
                      &:last-of-type{
                          border-bottom: none;
                      }
                }
                .list-item{
                    color: $link-gray;
                    padding: 1rem 0;
                    border-bottom: thin solid $underline-gray;
                    display: flex;
                    width:100%;
                    .bullet{
                        i{ width:6px; float:left; padding-top: 4px; color: $link-gray;}
                        
                    }
                    i.fas{
                        width:7px;float:left;padding-top:8px;
                    }
                    p{
                        color: $link-gray;
                        float: left;
                        padding-bottom: 0;
                        margin: 0 .5rem;
                        width:91%;
                        font-size: 1rem;
                        line-height:1.2rem;
                    }
               }
            }
        }

        &.solutions{
            background-color: transparent;

            .solution-image{
                width:100%;
                display: table-cell;
                vertical-align: bottom;
                padding: 15px 0 15px 15px;

                img{
                     width: 100%;
                    // height: 15vw;
                    // -o-object-fit: contain;
                    // object-fit: contain;
                }


            }
            .solution-image1, .solution-image2, .solution-image3 {
                width:100%;
                display: table-cell;
                vertical-align: bottom;
                padding: 15px 0 15px 15px;
            }
            .lower-title{
                font-size: 2rem;
                width:100%;
                padding-left:15px;

                &.lower-spacer{
                   // margin-top: 3rem;
                }
            }
            .callout-title{
                color: $link-blue;
            }

            .solutions-product-image{
                margin: 2rem 1rem;
                img{
                    vertical-align: bottom;
                }
            }

            .list-content{
                margin-bottom: 4rem;

                &:last-of-type{
                    margin-bottom:2rem;
                }
            }

            hr{
                width:100%;   
            }
            
        }
        @media screen and (max-width: 1024px){
            .buttons-wrapper{
                .btn-primary{
                    background: $blue;
                    padding: 6px 30px;
                    min-width: 120px;
                    margin: 8px 0 0 3px;
                    color: $white;
                }
            }
        }
    }
    
    .top-section{
        width:50%;
        display: table;
        &.Text-xl{
            padding-top: 6rem;
        }
    
        @media screen and (max-width: 768px){
            &.Text-xl{
                padding-top: 4rem;
            }
        }
    }

    .bottom-section{
        width:100%;
        display:table;
        position:absolute;
        bottom: 0;
        padding-bottom:2%;

        .bottom-right-stats{
            display:table;
            float: right;
            clear:both;
            h3{
                font-size: 2rem;
                margin-bottom:0;
                color:white;
                font-family: nimbus-sans, san-serif;
                font-weight: 600;
            }
            p{
                font-size: 1rem;
                line-height:1.3rem;
                color:white;
                font-family: nimbus-sans, san-serif;
                font-weight: 400;
                float:right;
               // width:24%;
                margin-right:15%;
                //margin-top:3%;
                max-width:290px;

               
            }

            @media screen and (max-width: 768px){

            
                p{
                    max-width:215px;
                    margin-right:7%;
                }
            }

        }

    }
        @media screen and (max-width: 1024px){
            .lower-content{
                margin-top: 1.5rem;

                &.solutions{
                    margin-top:3rem;
                }

                .body-copy{
                    margin-bottom: 0px;
                }
                .buttons-wrapper{
                    margin-bottom:10px;
                }
            }
        
        }
}