p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
#sidebarCollapse{
    padding: 1.15rem 2.75rem 1.3rem 0.5rem;
    border: thin solid rgba($underline-gray, .6);
    background: transparent;
    float:left;
    display:none;
    &:focus {
        box-shadow: 0 0 0 0.2rem rgba($link-blue,.5);
    }

    span, span:before, span:after {
    cursor: pointer;
    border-radius: 1.5px;
    height: 3px;
    width: 35px;
    background: rgba($underline-gray, .6);
    position: absolute;
    display: block;
    content: '';
    transition: all .2s ease-in-out;
    }

     span:before {
        top: -.5rem; 
      }
      span:after {
        bottom: -.5rem;
      }

      &.active{
          span{
            background:transparent;
            &:before{
                transform: rotate(45deg);
                top: 0;
            }
            &:after{
                transform: translateY(-10px) rotate(-45deg);
                top: 10px;
            }
          }
      }
      @media screen and (max-width:768px){
          display:block;
      }
}

.sidebar-wrapper, .text-xl-solutions, .wrapper{
    transition: margin-left 0.3s;
}
#sidebar {
min-width: 250px;
max-width: 250px;
background: $nav-bg-gray;
color: $link-gray;
transition: all 0.3s;
padding: 0 0 5px;
//position:relative;

        .find {
            color: $white;
            background: $btn-green;
            font-family: nimbus-sans, san-serif;
            font-size: .9em;
            //margin: 3%;
            border-radius: 0;
            padding: .7rem .9rem;
            //float: right;
            cursor: pointer;
            width: 100%;
        }

}

#sidebar .sidebar-header {
padding: 20px;
background: #6d7fcc;
}

#sidebar ul.components {
padding: 0;
//border-bottom: 1px solid #47748b;

      li{
      }
}

#sidebar ul p {
color: #fff;
padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    border-bottom: thin solid $nav-hr-gray;
    padding-left:20px;
    width: 100%;
    display: table;

    &:last-of-type{
        border-bottom:none;
    }
}
#sidebar ul li a:hover {
color: $active-purple;
background: $white;
}
#sidebar ul li.active > a{
    color: $active-purple;
//background: #6d7fcc;
    border-left: 10px solid $link-blue2;
        &.qsr{
            border-left: 10px solid $qsr-red;
        }
        &.casual{
            border-left: 10px solid $casual-green;
        }
        &.fine{
            border-left: 10px solid $fine-blue;
        }
        &.mobile{
            border-left: 10px solid $mobile-green;
        }
}
#sidebar ul li.active > a, a[aria-expanded="true"] {
color: $active-purple;
//background: #6d7fcc;
//border-left: 10px solid $nav-hilite-blue;
padding-left:10px;
font-weight: 700;
}

ul ul li{

    span.icon{
        width:30px;
        height: 30px;
        display:table;
        img{
            width:100%;
        }
    }
}
ul ul {
    
    li{
         a {
            font-size: 0.9em !important;
            padding-left: 30px !important;
            background: $white;
        span.icon{
            width:30px;
            height:32px;
            display:table;
            float:left;
            background-size: cover;
               
            img{
                width:100%;
            }
        }
        .linktext{
            display: table;
            float: left;
            margin-left: 12px;
            padding-top: 3px;
            font-weight: bold;
        }
        &.qsr{
            span.icon{
                background: url('../images/icons/QSR.svg') no-repeat top;
            }
        }
        &.casual{
            span.icon{
                background: url('../images/icons/Casual Dining.svg') no-repeat top;
            }
        }
        &.fine{
            span.icon{
                background: url('../images/icons/Fine Dining.svg') no-repeat top;
            }
        }
        &.mobile{
            span.icon{
                background: url('../images/icons/Food Truck.svg') no-repeat top;
            }
        }
        &.tablet{
            span.icon{
                background: url('../images/icons/Solutions-Tablet POS.svg') no-repeat top;
            }
        }
        &.ecommerce{
            span.icon{
                background: url('../images/icons/Solutions-eCommerce.svg') no-repeat top;
            }
        }
        &.smart{
            span.icon{
                background: url('../images/icons/Solutions-Smart Terminal.svg') no-repeat top;
            }
        }
        &.pay{
            span.icon{
                background: url('../images/icons/Solutions-Pay at the Table.svg') no-repeat top;
            }
        }
    }

    &.active{
        
        &.qsr{
            a{
                border-left:solid 10px $qsr-red;
                padding-left: 20px !important;
                span.icon{
                    background: url('../images/icons/color/QSR.svg') no-repeat top;     
                }
                .linktext{
                     color: $qsr-red;
                }
            }
        }
        &.casual{
            a{
                border-left:solid 10px $casual-green;
                padding-left: 20px !important;
                span.icon{
                    background: url('../images/icons/color/Casual Dining.svg') no-repeat top;     
                }
                .linktext{
                     color: $casual-green;
                }
            }
        }
        &.fine{
            a{
                border-left:solid 10px $fine-blue;
                padding-left: 20px !important;
                span.icon{
                    background: url('../images/icons/color/Fine Dining.svg') no-repeat top;     
                }
                .linktext{
                     color: $fine-blue;
                }
            }
        }
        &.mobile{
            a{
                border-left:solid 10px $mobile-green;
                padding-left: 20px !important;
                span.icon{
                    background: url('../images/icons/color/Food Truck.svg') no-repeat top;     
                }
                .linktext{
                     color: $mobile-green;
                }
            }
        }
        &.tablet{
            a{
                    padding-left: 20px !important;
                    span.icon{
                        background: url('../images/icons/color/Solutions-Tablet POS.svg') no-repeat top;
                    }
                    .linktext{
                        color: $link-blue2;
                }
             }
        }
        &.ecommerce{
            a{
            padding-left: 20px !important;
                span.icon{
                    background: url('../images/icons/color/Solutions-eCommerce.svg') no-repeat top;
                }
                .linktext{
                    color: $link-blue2;
            }
            }
        }
        &.smart{
            a{
                padding-left: 20px !important;
                span.icon{
                    background: url('../images/icons/color/Solutions-Smart Terminal.svg') no-repeat top;
                }
                .linktext{
                    color: $link-blue2;
            }
        }
        }
        &.pay{
            a{
                    padding-left: 20px !important;
                    span.icon{
                        background: url('../images/icons/color/Solutions-Pay at the Table.svg') no-repeat top;
                    }
                    .linktext{
                        color: $link-blue2;
                }
            }
        }
    }
}



}

#sidebar.active {
    margin-left: -250px;
}
a[data-toggle="collapse"] {
position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.sidebar-wrapper{

    nav{

        .references-wrapper{
            //position: absolute;
           // bottom: 0;
           // padding: 130px 0px 20px 20px;
           // z-index: 1;

           padding-top:50px;

           .references-link{
            padding-top:30px;
           }

            a{
                color: $link-gray;
            }
        }
    }
}
@media (max-width: 768px) {
#sidebar {
    margin-left: -250px;
}
#sidebar.active {
    margin-left: 0;
}
}

body{
    &.fixed-side-nav{
            .sidebar-wrapper{
                margin-top:0;
                position:fixed;
                top:58px;
            }
    }
}