@import "_typography";
@import "_colors";
@import "_topnav";
@import "_sidenav";
@import "_home";
@import "_restaurant"; // solutions.html styling in restaurant
@import "_conversation";
@import "_comparison";
@import "_faqs";

body {
    font-family: nimbus-sans, sans-serif;
    background: #fafafa;
    position:relative;
    height: 100%;
		overflow-y: scroll;
   
    p {
        font-family: nimbus-sans, sans-serif;
        font-size: 1.1em;
        font-weight: 400;
        line-height: 1.7em;
        color: #999;
    }
    .sidebar-wrapper{
        margin-top: 13%;
        float:left;
        display:table;
        z-index: 1;
        position:absolute;
        //height: 100vh;
    }
    .content-wrapper{
        float:left;
        display:table;
    }
    

    .main-image{
        //position:absolute;
        top:0px;
        width:100%;
        min-height: 560px;
        padding-left:265px;
        
        

        &.conversation{
            background: url("../images/ConversationStarters_BG.jpg");
            background-repeat:no-repeat;
        background-position: center center;
        background-size:cover;
        }

        &.faqs{
            background: url("../images/FAQS_BG.jpg");
            background-repeat:no-repeat;
        background-position: center center;
        background-size:cover;
        }

        &.compare{
            background: url("../images/CompetitiveComparison_BG.jpg");
            background-repeat:no-repeat;
        background-position: center center;
        background-size:cover;
        }

        &.qsr{
            background: url("../images/QSR_BG.jpg");
            background-repeat:no-repeat;
        background-position: center center;
        background-size:cover;
        }
        &.casual{
            background: url("../images/Casual_BG.jpg");
            background-repeat:no-repeat;
        background-position: center center;
        background-size:cover;
        }
        &.fine{
            background: url("../images/FineDining_BG.jpg");
            background-repeat:no-repeat;
        background-position: center center;
        background-size:cover;
        }
        &.mobile{
            background: url("../images/Mobile_BG.jpg");
            background-repeat:no-repeat;
        background-position: center center;
        background-size:cover;
        }

        &.tablet{
            background: url("../images/Solutions_BG.jpg");
            background-repeat:no-repeat;
        background-position: center center;
        background-size:cover;
        }
        &.ecommerce{
            background: url("../images/Solutions_BG.jpg");
            background-repeat:no-repeat;
        background-position: center center;
        background-size:cover;
        }
        &.smart{
            background: url("../images/Solutions_BG.jpg");
            background-repeat:no-repeat;
        background-position: center center;
        background-size:cover;
        }
        &.pay{
            background: url("../images/Solutions_BG.jpg");
            background-repeat:no-repeat;
        background-position: center center;
        background-size:cover;
        }
       
    }
    .Text-xl{
        width: 100%;
        display: table;
        padding-top: 10rem;
        //padding-left: 265px;
        
         h1{
                font-size: 6rem;
                line-height:5.2rem;
                margin-bottom:0;
                color:white;
                font-family: nimbus-sans;
                font-weight: 700;
                //margin:0 auto;
                display:table;
            }
         p{
            float:left;
            font-weight:300;
            width: 100%;
            font-size: 2.5rem;
            line-height: 2.6rem;
            max-width: 75%;
            margin-top: 10px;
            color: $white;
        }
    }
    .wrapper {
        overflow: hidden;
        position: relative;
        width: 100%;
        min-height:447px;
        //display:flex;
        //margin-left: 250px;
        padding-left:265px;
        
    }

    .lower-content {
            width: 100%;
            float: left;
            //margin-top: 3rem;
            font-family: nimbus-sans, san-serif;
            margin-bottom: 2rem;
            padding-left: 30px;
        .lower-title {
            color: #0c2074;
            font-size: 1.55rem;
            line-height: 1.75rem;
            font-weight: 400;
            margin-bottom: 2rem;
        }
        .body-copy{
            color: #414042;
            font-size: 1rem;
            line-height: 1.2rem;
        }
    }
    .modal-content{

        ol{
            li{
                padding: .25rem 0;
            }
        }
        a{
            color: $link-blue;
            text-decoration: underline;

            &:hover{
                text-decoration: none;
            }
        }
    }

    @media screen and (max-width: 768px){
            .wrapper {
                padding-left: 0px;
            }
            .main-image{
                padding-left:15px;
            }
            .Text-xl{
               
                   padding-left: 0px;
                
            }
            .lower-content{
                padding-left:0px;
            }
    }

    @media screen and (max-width: 768px){
        .Text-xl{
           // padding-top:18rem;
           // padding-top:9rem;
                h1{
                    font-size: 4rem;
                    line-height:4.0rem;
                }
            }
    }

    @media screen and (max-width: 1024px){
        
        .main-image{
            //position:absolute;
            top:0px;
            width:100%;
            min-height: 447px;
           // padding-left:15px;
            
        }
        .Text-xl{
            padding-top:18rem;
            padding-top:9rem;
                h1{
                    font-size: 5rem;
                    line-height:5.0rem;
                    color:white;
                    font-family: nimbus-sans;
                    font-weight: 700;
                    margin:0;
                    display:table;
                }
                p{
                    max-width:75%;
                    font-size: 2.0rem;
                    line-height:2.1rem;
                }
            
        }

        .lower-content{
            margin-top: 1.5rem;

            &.solutions{
                margin-top:3rem;
            }

            .body-copy{
                margin-bottom: 0px;
            }
            .buttons-wrapper{
                margin-bottom:10px;
            }
        }
    
    //}
    }

   // &.side-nav-closed{
     //   .main-image{
            //position:absolute;
           // top:0px;
            //width:100%;
            //min-height: 560px;
            //padding-left:15px;
       // }

    //}

} // Body